<ion-header>
  <ion-toolbar color="primary">
    <div class="ion-text-center">
      <ion-title>
        Open Social Media
      </ion-title>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <div>
    <div class="horizontal">
      <p class="font-size-16">Like, Follow and Share</p>
    </div>
    <div class="horizontal">
      <ion-button (click)="openAppUrl('facebook', 'Accustom')" ion-button color="secondary">Open Facebook</ion-button>
    </div>
    <div class="horizontal">
      <ion-button (click)="openAppUrl('instagram', 'sydhsn')" ion-button color="secondary">Open Instagram</ion-button>
    </div>
    <div class="horizontal">
      <ion-button (click)="openAppUrl('twitter', 'korthivadasai')" ion-button color="secondary">Open twitter</ion-button>
    </div>
  </div>
</ion-content>