<ion-header>
  <ion-toolbar color="primary">
    <div class="ion-text-center">
      <ion-title>
        Open Social Media
      </ion-title>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <div>
    <div class="horizontal">
      <p class="font-size-16">Like, Follow and Share</p>
    </div>
    <div class="horizontal">
      <div class="social-icons" (click)="socialMedia('FACEBOOK')">
        <ion-icon name="logo-facebook"></ion-icon>
      </div>
      <div class="social-icons" (click)="socialMedia('INSTAGRAM')">
        <ion-icon name="logo-instagram"></ion-icon>
      </div>
      <div class="social-icons" (click)="socialMedia('TWITTER')">
        <ion-icon name="logo-twitter"></ion-icon>
      </div>
<div class="social-icons" (click)="socialMedia('YOUTUBE')">
        <ion-icon name="logo-youtube"></ion-icon>
      </div>
    </div>
  </div>
</ion-content>